*{
	margin:0px;
    padding:0px;
	}
div{
	width:1500px;
	margin:auto;	
	}
body{ background:#ffffff;}
#header{
	height: 70px;
	background-color: #1B2754;
}
#header p{
	font-size: 25px;
	font-family: 黑体;
	line-height:65px;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
}
#dao1{
	margin-left: 825px;
}
#dao1,#dao2,#dao3,#dao4,#dao5{
	width: 100px;
	height: 60px;
	display: inline-block;
}
#header p:hover{
				animation: moveone 1s infinite;
				-webkit-animation: moveone 1s infinite;
				-webkit-animation-fill-mode: forwards;
			}
			@keyframes moveone{
				0%{color: #FEEFE1;}
				50%{color:#1B2754;}
				100%{color: #FEEFE1;}}
			@-webkit-keyframes moveone{
				0%{color: #FEEFE1;}
				50%{color:#1B2754;}
				100%{color:#FEEFE1;}}
#dao2 p:hover{
	text-decoration:underline ;
}
#dao3 p:hover{
	text-decoration: line-through;
}
#dao4 p:hover{
	text-decoration:overline;
}
#dao5 p:hover{
	text-decoration: overline underline; 
}
#banner{
	height: 290px;
}
#banner img{
	height: 290px;
	width: 1500px;
}
#content{
	height: 434px;
	width: 1500px;
}
#content p{
	font-size: 30px;
	font-family: 黑体;
	line-height:100px;
	margin-left: 30px;
	color:#1B2754 ;
}
#table1 img:hover{
	    -webkit-filter: blur(2px);
		filter: blur(2px);
		
}
#jiantou{
	font-size: 50px;
	position: relative;
	top:85px ;
	left: 100px;
}
#jiantou a{
	text-decoration: none;
	color: #999999;
}
#jiantou a:hover{
	color: #1B2754;
}
	
#jiantou a:active{
	color: #1B2754;
}
#jiantou a:visited{
	color: #999999;
}
#table1,#table2{
	margin:auto;
	position: relative;
	top: -80px;
	left: 50px;
}
#table1 tr td{
	border: 4px solid #1B2754;
}
#table2 tr td p{
	font-size: 20px;
	font-family: 黑体;
	line-height: 10px;
}
#footer{
	height: 70px;
	background-color: #1B2754;
}
#footer p{
	      font-size: 25px;
		  font-family: 黑体;
	      line-height:65px;
          text-align:center;
		  font-weight:bold;
		  color:#ffffff;}