*{
	margin:0px;
    padding:0px;
	}
div{
	width:1500px;
	margin:auto;	
	}
body{ background:#ffffff;}
#header{
	height: 70px;
	background-color: #1B2754;
}
#header p{
	font-size: 25px;
	font-family: 黑体;
	line-height:65px;
	text-align:center;
	font-weight:bold;
	color:#ffffff;
}
#dao1{
	margin-left: 825px;
}
#dao1,#dao2,#dao3,#dao4,#dao5{
	width: 100px;
	height: 60px;
	display: inline-block;
}
#header p:hover{
				animation: moveone 1s infinite;
				-webkit-animation: moveone 1s infinite;
				-webkit-animation-fill-mode: forwards;
			}
			@keyframes moveone{
				0%{color: #FEEFE1;}
				50%{color:#1B2754;}
				100%{color: #FEEFE1;}}
			@-webkit-keyframes moveone{
				0%{color: #FEEFE1;}
				50%{color:#1B2754;}
				100%{color:#FEEFE1;}}
#dao2 p:hover{
	text-decoration:underline ;
}
#dao3 p:hover{
	text-decoration: line-through;
}
#dao4 p:hover{
	text-decoration:overline;
}
#dao5 p:hover{
	text-decoration: overline underline; 
}
#content{
		height: 724px;
		background-image: url(../img/背景5.jpg);
		}
#wenzi{
	width: 100px;
	height: 724px;
	float: left;
	margin-left: 50px;
}
#wenzi p{
	font-size: 60px;
	font-family: 黑体;
	color: #1B2754;
}	
#wenzi1{
	width:1000px;
	height: 724px;
	float: right;
	margin-right: 200px;
}
#dizhi{
	width:400px;
	height: 250px;
	margin-top: 220px;
	margin-left: 30px;
	text-align: right;
}
#dizhi p{
	font-size: 30px;
	font-family: 黑体;
	line-height:38px;
	color:#1B2754;
}
table{
	margin-top: -258px;
	margin-left: 500px;
}
#textfield{
	width: 200px;
	height: 40px;
}
#textfield3{
	width: 300px;
	height: 120px;
}
#button,#button2{
	width: 60px;
	height: 30px;
}
#footer{
	height: 70px;
	background-color: #1B2754;
}
#footer p{
	      font-size: 25px;
		  font-family: 黑体;
	      line-height:65px;
          text-align:center;
		  font-weight:bold;
		  color:#ffffff;}